@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
body {
  background-color: theme("colors.background");
  color: theme("colors.earth");
  font-family: "Inter", sans-serif; /* Optional: Use a modern font */
}
=======
>>>>>>> d117898 (Initial commit)
